<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="" id="login-form">
            <h1>Sign-in</h1>
    
            <form action='/login' class="form-horizontal" method='POST'>
                <div class="form-group">
                    <div class="">
                        <input type='text' class='form-contol' name='username' placeholder='username'>
                    </div>
                    <div class="">
                        <input type='password' class='form-contol' name='password' placeholder='password'>
                    </div>
                    <div class="">
                        <button type="submit" id='main-login-btn' class="btn btn-lg btn-info">submit</button>
                    </div>
                </div>
            </form>
                
        </div>
    </div>
</div>
<%include ../partials/footer %>