<% include ../partials/header %>
<div class="container reds">
    <div class="row reds">
        <div class="reds" id="login-form">
            <h1>Sign-in</h1>
    
            <form action='/login' class="form-horizontal reds" method='POST'>
                <div class="form-group">
                    <div class="reds">
                        <input type='text' class='form-contol reds' name='username' placeholder='username'>
                    </div>
                    <div class="reds">
                        <input type='password' class='form-contol reds' name='password' placeholder='password'>
                    </div>
                    <div class="reds">
                        <button type="submit" id='main-login-btn' class="btn btn-lg btn-info reds">submit</button>
                    </div>
                </div>
            </form>
                
        </div>
    </div>
</div>
<%include ../partials/footer %>