<!DOCTYPE html>
<html>
<head>
  <title> Sarah&Bryan </title>
  <link href='https://fonts.googleapis.com/css?family=Marck+Script' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> 
  <link rel="stylesheet" href="/stylesheets/app.css">
  <script src="/javascripts/app.js"></script>


</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Sarah&Bryan</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-right navbar-nav">
          <% if(!currentUser){ %>
            <li><a href="/login">Login</a></li>
          <% } else {%>
            <% if(currentUser.username == "Admin") { %>
              <li><a href="/invites">Admin Page</a></li>
            <% } %>
            <li><a href="#">Signed in as <%=currentUser.username%></a></li>
            <li><a href="/users/<%=currentUser._id %>">RSVP</a></li>
            <li><a href="/logout">Logout</a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <% if(error && error.length > 0 ) { %>
      <div class="alert alert-danger"><%= error %></div>
    <% } else if (success && success.length > 0 ){ %>
      <div class="alert alert-success"><%= success %></div> 
    <% } %>
  </div>
