
  
  
<nav id='main-nav' class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a id='sb-brand' class="navbar-brand" href="#">Sarah + Bryan</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a  id="schedule-scroll" class="anchorLink">Weekend Schedule</a></li>
            <li><a  id="venue-scroll" class="anchorLink">Venue Details</a></li>
            <li><a  id="gifts-scroll" class="anchorLink">Gifts</a></li>
            <li><a  id="us-scroll" class="anchorLink">Our Story</a></li>
            <li><a  id="contact-scroll" class="anchorLink">Contact Info</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>