.reds{
    border:1px solid red;
}

html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    background-image: url('../img/background_img1.jpg'); 
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: right 40px;
    font-family: 'Quicksand', sans-serif;
    height: 100%;
    width: 100%;
    
}

#splash-body{
    background-position: right 0px;
    background-image: url('../img/background_img1.jpg');  
}

.navbar-default {
    background-color: #f8f8f8;
    border-radius: 0px;
}

.navbar-default .navbar-brand {
    font-family: 'La Belle Aurore', cursive;
    color: rgb(31, 58, 147);
    font-size: 22px;
}
.navbar-default .navbar-nav>li>a {
    color: rgb(31, 58, 147);
}

#splash-login{
   background-color:  rgb(20, 140, 255);
   border: none;
}

#sb-banner{
    margin-top: 20px;
    margin-bottom: 100px;
}

#main-login-btn{
    border: none;
    font-size: 24px;
    background-color:  rgb(20, 140, 255);
}


#banner-home{
    margin: 20px 20px;
    padding: 50px;
    text-align: center;
    font-size: 60px;
    font-family: 'La Belle Aurore', cursive;
    color: rgb(31, 58, 147);
}

#banner-home h1{
    font-size: 100px;
    margin-bottom: 25px;
}

h2{
    font-size: 50px;
    font-weight: 900;
    color: rgb(255,255,119);
}

.btn-primary {
    background-color: rgb(20, 140, 255);
    border: none;
}


#main-home{
    margin: 80px 20px;
    padding: 10px;
    background-color: rgba(220,220,255,0.6); 
    -webkit-box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);
    -moz-box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);
    box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);
}


#main-home p{
    font-size: 18px;
    color: rgb(255,255,255);
}

#main{
    padding: 0;
    margin: 0;
}

#delete-form{
    display: inline;
}

.invite-card{
    margin: 20px 20px;
    padding: 30px;
    background-color: rgb(0,0,0);
    background-color: rgba(255,255,255,0.5);
    -webkit-box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);
    -moz-box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);
    box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);
}
.invite-card p{
    margin: 0px;
    padding: 0px;
}

#map { 
    margin-bottom: 15px;
    height: 400px;
    border: 1px solid black;
}

#rsvp-div{
        display: none;
        margin: 80px 20px;
}

#rsvp-form{
    background-color: rgba(220,220,255,0.6);
    padding: 10px 10px;
    margin: 80px auto;
    font-size: 20px;
    float: none;
    -webkit-box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);
    -moz-box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);
    box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);
}
#rsvp-form form{
    padding: 12px 10px;
}

#rsvp-form button{
    margin-top: 10px;
}

#rsvp-form h2{
    color: rgb(255,255,255);
}

#rsvp-form h1{
    color: rgb(255,255,255);
}

#rsvp-form label{
    font-weight: 500; 
    color: rgb(255,255,255);
}


#rsvp-form select{
    width: 50px;
}
#guest-names{
    line-height: 29px;
    padding: 30px;
}

hr{
    color: rgb(255,255,255);
}

.login-form {
    color: rgb(255,255,255);
    margin: 150px auto 100px auto;
    float: none;
    text-align: center;
    background: rgba(220,220,255,0.6);
    padding: 35px;
    -webkit-box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);
    -moz-box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);
    box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);
}

.login-form input{
    line-height: 2;
    color: rgb(0,0,0);
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 2px 2px;
    width: 60%;
}

.login-form h1{
    font-family: 'La Belle Aurore', cursive;
    font-size: 55px;
    margin-bottom: 15px;
}

.login-form button{
    margin-top: 10px
}

.splash{
    margin-top: 100px;
    text-align: center
}
.splash h1{
    font-family: 'La Belle Aurore', cursive;
    color: rgb(31, 58, 147);
    font-size: 75px;
}

.splash p{
    color: rgb(31, 58, 147);
    font-size: 30px;
}

.main-splash{
    margin-bottom: 100px;
}

::-webkit-input-placeholder {
   font-size: 20px;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 20px;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 20px;
}

:-ms-input-placeholder {  
   font-size: 20px;
}

#plus-sign{
    color: rgb(31, 58, 147);
    text-shadow: 6px 6px 10px rgba(255, 255, 255, 1);
}

#chart{
    display: none;
}

/*#wrap{*/
/*    min-height: 100%;*/
/*    height: auto !important;*/
/*    height: 100%;*/
/*    margin: 0 auto -60px;*/
/*}*/

#pusher{
    height: 0px;  
    border:1px solid red;
}

#footer{
    margin-top: 0px;
    background:none;
    padding: 10px;
    font-size: 8px;
    margin-bottom: 0px
}

.bryan-town{
    text-align: right;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body{
       background-position: right 90px;
    }
    #splash-body{
        background-position: right 0px;
        background-image: url('../img/background_img1.jpg');  
    }

    #main-nav{
        font-family: 'La Belle Aurore', cursive;
        width: 100%;
        height: 100px;
        padding: 20px;
    }
    
    #main-nav .navbar-brand{
        font-size: 40px;
    }
    
    #main-nav a{
        font-size: 30px;
    }
    .splash h1{
        font-family: 'La Belle Aurore', cursive;
        color: rgb(31, 58, 147);
        margin: 0px 0px;
        font-size: 225px;
    }
    
    .splash p{
        font-size: 60px;
    }
    
    #splash-login{
        font-size: 55px;
        padding: 15px 30px;
    }
    
    .login-form{
        margin-top: 425px;
        margin-bottom: 600px;
    }
    
    .login-form h1{
        margin-bottom: 40px;
        font-size: 100px;
    }
    
    .login-form input{
        height:75px;
        font-size: 30px;
        color: black;
        padding: 30px;
    }
    
    #main-login-btn{
        font-size: 45px;
        background-color:  rgb(20, 140, 255);
    }
    
    ::-webkit-input-placeholder {
       font-size: 30px;
    }
    
    :-moz-placeholder { /* Firefox 18- */
       font-size: 30px;
    }
    
    ::-moz-placeholder {  /* Firefox 19+ */
       font-size: 30px;
    }
    
    :-ms-input-placeholder {  
       font-size: 30px;
    }
    
    #banner-home{
        margin: 100px 20px;
        padding: 50px;
        text-align: center;
        font-size: 100px;
    }
    
    #banner-home h1{
        font-size: 135px;
        margin-bottom: 45px;
    }
    

    #rsvp-toggle{
        font-size: 35px;
    }
    
    #map {
        height: 700px;
        border: 10px solid black;
    }
    
    #rsvp-form{
        font-size: 50px;
    }
    
    #rsvp-form h1{
        font-size: 80px;
    }
    
    #rsvp-form  input[type=radio]{
        height: 40px;
        width: 40px;
    }
    
    #rsvp-form select {
        width: 85px;
        height: 50px;
        font-size: 40px;
    }
    
    #rsvp-form button {
        margin-top: 60px;
        font-size: 40px;
    }
    
    #flash{
        font-size: 35px;
        padding: 25px;
    }
}

 #flash{
     height:30px;
     margin-top: 100px
 }