.reds{
    border:1px solid red;
}

html, 
body {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    background-image: url('../img/background_img1.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Quicksand', sans-serif;
    color: rgb(31, 58, 147);
    height: 86.5%;
    width: 100%;
}
#footer{
    font-size: 10px;
    margin-bottom: 0px;
    margin-top: 30px;
    padding: 15px 0px 0px 0px;
}
.btn{
    background-color:  rgb(20, 140, 255);
    border: none;
}
#splash_container{
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: 108.5%;
    padding: 50px;
}
#splash_container h1{
    font-family: 'La Belle Aurore', cursive;
    font-size: 85px;
}
#splash_container p{
    margin: 80px 10px 40px 10px;
    font-size: 30px;
}
#flash{
     height:30px;
     margin-top: 100px
 }
#login-form{
    color: rgb(255,255,255);
    margin: 150px auto 100px auto;
    float: none;
    text-align: center;
    background: rgba(220,220,255,0.6);
    padding: 35px;
    -webkit-box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);
    -moz-box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);
    box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);
}
#login-form h1{
    font-size: 55px;
    padding: 15px;
    font-family: 'La Belle Aurore', cursive;
}
#main-login-btn{
    margin-top: 10px;
    font-size: 24px;
}
#login-form input {
    line-height: 2;
    color: rgb(0,0,0);
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 2px 2px;
    width: 60%;
}
#sb-brand {
    font-family: 'La Belle Aurore', cursive;
    color: rgb(31, 58, 147);
    font-size: 22px;
}
#map { 
    margin-bottom: 15px;
    height: 600px;
    border: 5px solid black;
}
#banner-home{
    font-family: 'La Belle Aurore', cursive;
    color: rgb(31, 58, 147);
    font-size: 80px;
    text-align: center;

}
#banner-home h1{
    font-size: 100px;
    margin-bottom: 45px;
    padding: 20px;
}
#main{
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
#rsvp-div{
    margin-bottom: 90px;
    margin-left: 0px;
    margin-right: 0px;
}
#rsvp-toggle{
    font-size: 25px;
    margin-top: 20px;
}
#rsvp-form{
    display: none;
    background-color: rgba(220,220,255,0.6);
    padding: 20px 15px;
    margin: 0px auto;
    font-size: 20px;
    -webkit-box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);
    -moz-box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);
    box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);
}
#rsvp-form h1 {
    font-size: 50px;
    color: rgb(255,255,255);
}
#rsvp-form label{
    font-size: 30px;
    font-weight: 500;
    color: rgb(255,255,255);
}
#rsvp-form select {
    width: 100px;
    height: 50px;
    font-size: 25px;
}
#rsvp-form input{
    font-size: 20px;
    line-height: 29px;
    padding: 30px;
}
#rsvp-form button {
    margin-top: 10px;
    font-size: 20px;
}
#main-home-div{
    padding: 10px;
    border: 0.5px solid;
    margin-bottom: 5px;
}
#main-home img{
    margin: 50px 0px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body{
        height: 91%;
        background-position: right 90px;
    /* background-attachment: scroll; */
        background-size: inherit;
        /*margin-top: 300px;*/
    }
    #main-nav {
        font-family: 'La Belle Aurore', cursive;
        width: 100%;
        height: 100px;
        padding: 20px;
    }
    #sb-brand {
        font-size: 40px;
    }
    #splash-body {
        background-position: right 0px;
        margin-top: 0px;
    }
    #splash_container{
        height: 107.5%;
        padding-top: 250px;
    }
    #splash_container h1{
        font-size: 225px;
    }    
    #splash_container p{
        margin: 80px 10px 40px 10px;
        font-size: 50px;
    }
    #splash-login, #main-login-btn{
        font-size: 45px;
        padding: 15px 30px;
    }
    #flash{
       height:30px;
       margin-top: 100px
     }
    #login-form{
        margin: 450px auto 600px;
    }
    #login-form h1{
        font-size: 100px;
    }
    #login-form input {
        height: 75px;
        font-size: 30px;
        color: black;
        padding: 30px;
    }
    #banner-home{
        margin: 200px 20px 150px 20px;
        padding: 15px;
        font-size: 100px;
    }
    #rsvp-toggle{
        font-size: 35px;
    }
    #rsvp-form{
        font-size: 50px;
    }
    #rsvp-form h1 {
        font-size: 80px;
    }
    #rsvp-form select {
        width: 115px;
        height: 70px;
        font-size: 40px;
    }
    #rsvp-form input{
        font-size: 30px;
        line-height: 29px;
        padding: 30px;
    }
    #rsvp-form button {
        margin-top: 30px;
        font-size: 40px;
    }
    #rsvp-form label{
        margin-top: 15px;
        font-size: 45px;
    }
    #main-home{
        background-color: rgba(220,220,255,0.6);
        padding: 20px 15px;
        margin: 0px auto;
        font-size: 20px;
        -webkit-box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);
        -moz-box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);
        box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);
    }
    #main-home h1{
        font-size: 50px;
        font-weight: 900;
    }
    #main-home p{
        font-size: 10px;
    }
    #main-home img{
        margin: 50px 0px;
    }
}


/*.navbar-default {*/
/*    background-color: #f8f8f8;*/
/*    border-radius: 0px;*/
/*}*/

/*.navbar-default .navbar-brand {*/
/*    font-family: 'La Belle Aurore', cursive;*/
/*    color: rgb(31, 58, 147);*/
/*    font-size: 22px;*/
/*}*/
/*.navbar-default .navbar-nav>li>a {*/
/*    color: rgb(31, 58, 147);*/
/*}*/

/*#splash-login{*/
/*   background-color:  rgb(20, 140, 255);*/
/*   border: none;*/
/*}*/

/*#sb-banner{*/
/*    margin-top: 20px;*/
/*    margin-bottom: 100px;*/
/*}*/

/*#main-login-btn{*/
/*    border: none;*/
/*    font-size: 24px;*/
/*    background-color:  rgb(20, 140, 255);*/
/*}*/


/*#banner-home{*/
/*    margin: 20px 20px;*/
/*    padding: 50px;*/
/*    text-align: center;*/
/*    font-size: 60px;*/
/*    font-family: 'La Belle Aurore', cursive;*/
/*    color: rgb(31, 58, 147);*/
/*}*/

/*#banner-home h1{*/
/*    font-size: 100px;*/
/*    margin-bottom: 25px;*/
/*}*/

/*h2{*/
/*    font-size: 50px;*/
/*    font-weight: 900;*/
/*    color: rgb(255,255,119);*/
/*}*/

/*.btn-primary {*/
/*    background-color: rgb(20, 140, 255);*/
/*    border: none;*/
/*}*/


/*#main-home{*/
/*    margin: 80px 20px;*/
/*    padding: 10px;*/
/*    background-color: rgba(220,220,255,0.6); */
/*    -webkit-box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);*/
/*    -moz-box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);*/
/*    box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);*/
/*}*/


/*#main-home p{*/
/*    font-size: 18px;*/
/*    color: rgb(255,255,255);*/
/*}*/

/*#main-home img{*/
/*    height: 300px;*/
/*    width: 300px;*/
/*}*/

/*#main{*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/

/*#delete-form{*/
/*    display: inline;*/
/*}*/

/*.invite-card{*/
/*    margin: 20px 20px;*/
/*    padding: 30px;*/
/*    background-color: rgb(0,0,0);*/
/*    background-color: rgba(255,255,255,0.5);*/
/*    -webkit-box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);*/
/*    -moz-box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);*/
/*    box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);*/
/*}*/
/*.invite-card p{*/
/*    margin: 0px;*/
/*    padding: 0px;*/
/*}*/

/*#map { */
/*    margin-bottom: 15px;*/
/*    height: 400px;*/
/*    border: 1px solid black;*/
/*}*/

/*#rsvp-div{*/
/*        display: none;*/
/*        margin: 80px 20px;*/
/*}*/

/*#rsvp-form{*/
/*    background-color: rgba(220,220,255,0.6);*/
/*    padding: 10px 10px;*/
/*    margin: 80px auto;*/
/*    font-size: 20px;*/
/*    float: none;*/
/*    -webkit-box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);*/
/*    -moz-box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);*/
/*    box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);*/
/*}*/
/*#rsvp-form form{*/
/*    padding: 12px 10px;*/
/*}*/

/*#rsvp-form button{*/
/*    margin-top: 10px;*/
/*}*/

/*#rsvp-form h2{*/
/*    color: rgb(255,255,255);*/
/*}*/

/*#rsvp-form h1{*/
/*    color: rgb(255,255,255);*/
/*}*/

/*#rsvp-form label{*/
/*    font-weight: 500; */
/*    color: rgb(255,255,255);*/
/*}*/


/*#rsvp-form select{*/
/*    width: 50px;*/
/*}*/
/*#guest-names{*/
/*    line-height: 29px;*/
/*    padding: 30px;*/
/*}*/

/*hr{*/
/*    color: rgb(255,255,255);*/
/*}*/

/*.login-form {*/
/*    color: rgb(255,255,255);*/
/*    margin: 150px auto 100px auto;*/
/*    float: none;*/
/*    text-align: center;*/
/*    background: rgba(220,220,255,0.6);*/
/*    padding: 35px;*/
/*    -webkit-box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);*/
/*    -moz-box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);*/
/*    box-shadow: -12px 8px 29px -4px rgba(0,0,0,0.58);*/
/*}*/

/*.login-form input{*/
/*    line-height: 2;*/
/*    color: rgb(0,0,0);*/
/*    padding: 10px;*/
/*    border-radius: 5px;*/
/*    border: none;*/
/*    margin: 2px 2px;*/
/*    width: 60%;*/
/*}*/

/*.login-form h1{*/
/*    font-family: 'La Belle Aurore', cursive;*/
/*    font-size: 55px;*/
/*    margin-bottom: 15px;*/
/*}*/

/*.login-form button{*/
/*    margin-top: 10px*/
/*}*/

/*.splash{*/
/*    margin-top: 100px;*/
/*    text-align: center*/
/*}*/
/*.splash h1{*/
/*    font-family: 'La Belle Aurore', cursive;*/
/*    color: rgb(31, 58, 147);*/
/*    font-size: 75px;*/
/*}*/

/*.splash p{*/
/*    color: rgb(31, 58, 147);*/
/*    font-size: 30px;*/
/*}*/

/*.main-splash{*/
/*    margin-bottom: 130px;*/
/*}*/

/*::-webkit-input-placeholder {*/
/*   font-size: 20px;*/
/*}*/

/* :-moz-placeholder { /* Firefox 18- */
/*   font-size: 20px;*/
/*}*/

/* ::-moz-placeholder {  /* Firefox 19+ */
/*   font-size: 20px;*/
/*}*/

/*:-ms-input-placeholder {  */
/*   font-size: 20px;*/
/*}*/

/*#plus-sign{*/
/*    color: rgb(31, 58, 147);*/
/*    text-shadow: 6px 6px 10px rgba(255, 255, 255, 1);*/
/*}*/

/*#chart{*/
/*    display: none;*/
/*}*/

/*#pusher{*/
/*    height: 0px;  */
/*    border:1px solid red;*/
/*}*/

/*#footer{*/
/*    margin-top: 0px;*/
/*    background:none;*/
/*    padding: 10px;*/
/*    font-size: 8px;*/
/*    margin-bottom: 0px*/
/*}*/

/*.bryan-town{*/
/*    text-align: right;*/
/*}*/
/*@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {*/
/*    body{*/
/*       background-position: right 90px;*/
/*       background-size: inherit;*/
/*       margin-top: 300px;*/
/*    }*/
    
/*    #splash-body{*/
/*        background-position: right 0px;*/
/*        background-image: url('../img/background_img1.jpg');  */
/*    }*/

/*    #main-nav{*/
/*        font-family: 'La Belle Aurore', cursive;*/
/*        width: 100%;*/
/*        height: 100px;*/
/*        padding: 20px;*/
/*    }*/
    
/*    #main-nav .navbar-brand{*/
/*        font-size: 40px;*/
/*    }*/
    
/*    #main-nav a{*/
/*        font-size: 30px;*/
/*    }*/
/*    .splash h1{*/
/*        font-family: 'La Belle Aurore', cursive;*/
/*        color: rgb(31, 58, 147);*/
/*        margin: 0px 0px;*/
/*        font-size: 225px;*/
/*    }*/
    
/*    .splash p{*/
/*        font-size: 60px;*/
/*    }*/
    
/*    #splash-login{*/
/*        font-size: 55px;*/
/*        padding: 15px 30px;*/
/*    }*/
    
/*    .login-form{*/
/*        margin-top: 425px;*/
/*        margin-bottom: 340px;*/
/*    }*/
    
/*    .login-form h1{*/
/*        margin-bottom: 40px;*/
/*        font-size: 100px;*/
/*    }*/
    
/*    .login-form input{*/
/*        height:75px;*/
/*        font-size: 30px;*/
/*        color: black;*/
/*        padding: 30px;*/
/*    }*/
    
/*    #main-login-btn{*/
/*        font-size: 45px;*/
/*        background-color:  rgb(20, 140, 255);*/
/*    }*/
    
/*    ::-webkit-input-placeholder {*/
/*       font-size: 30px;*/
/*    }*/
    
    /*:-moz-placeholder { /* Firefox 18- */
/*       font-size: 30px;*/
/*    }*/
    
    /*::-moz-placeholder {  /* Firefox 19+ */
/*       font-size: 30px;*/
/*    }*/
    
/*    :-ms-input-placeholder {  */
/*       font-size: 30px;*/
/*    }*/
    
/*    #banner-home{*/
/*        margin: 100px 20px;*/
/*        padding: 50px;*/
/*        text-align: center;*/
/*        font-size: 100px;*/
/*    }*/
    
/*    #banner-home h1{*/
/*        font-size: 135px;*/
/*        margin-bottom: 45px;*/
/*    }*/
    

/*    #rsvp-toggle{*/
/*        font-size: 35px;*/
/*    }*/
    
/*    #map {*/
/*        height: 700px;*/
/*        border: 10px solid black;*/
/*    }*/
    
/*    #rsvp-form{*/
/*        font-size: 50px;*/
/*    }*/
    
/*    #rsvp-form h1{*/
/*        font-size: 80px;*/
/*    }*/
    
/*    #rsvp-form  input[type=radio]{*/
/*        height: 40px;*/
/*        width: 40px;*/
/*    }*/
    
/*    #rsvp-form select {*/
/*        width: 85px;*/
/*        height: 50px;*/
/*        font-size: 40px;*/
/*    }*/
    
/*    #rsvp-form button {*/
/*        margin-top: 60px;*/
/*        font-size: 40px;*/
/*    }*/
    
/*    #flash{*/
/*        font-size: 35px;*/
/*        padding: 25px;*/
/*    }*/
/*}*/

/* #flash{*/
/*     height:30px;*/
/*     margin-top: 100px*/
/* }*/