<% include ../partials/header %>
<body  id='main-body'>
<div id="wrap" class="">
<% include ../partials/navBar %>
<% include ../partials/flash %>
  
    <div id="main" class="container row">
        
        <div class="col-md-1" id="push1"></div>
        <div class="row col-md-9" id="banner-home">
            <hr>
            <h1>Sarah + Bryan</h1>
            <p>October 1, 2016</p>
            <p>Oakland, California</p>
            <p id="hashtag">#CoupleOfKahlers</p>
            <hr>
        </div>

        <div class="col-md-3" id="push2"></div>
        <div class='row col-md-9' id="rsvp-div">
        <% if(user && user.invites.length > 0){ %>
            <% if(user.invites[0].attending == null){ %>
                    <div id='rsvp-form' class=" col-sm-12">
                        <center>
                            <h1><%=user.invites[0].title %></h1> 
                        </center>
                        <hr>
                        <form action="/invites/<%=user.invites[0]._id %>/?_method=PUT" class="form-horizontal" method='POST'>
                            <div class="form-group">
                                <div class="col-sm-offset-1 col-sm-10">
                                  <label for="invite[attending]">Attending ? </label><br>
                                  <select id="attending" class="form-control" name="invite[attending]">
                                      <option value="true">Yes</option>
                                      <option value="false">No</option>
                                  </select>
                                </div>
                                <div class="col-sm-offset-1 col-sm-10">
                                  <label for="invite[numberInAttendance]">Number of Guests Attending </label>
                                  <select class="form-control" name="invite[numberInAttendance]">
                                    <% for(var i=0; i <= user.invites[0].guestsAllowed; i++){ %>
                                        <option><%= i %></option>
                                    <% } %>
                                  </select>
                                </div>
                                <div class="col-sm-offset-1 col-sm-10">
                                  <label for="invite[vegetarianMeals]">Number of Vegetarian Meals </label>
                                  <select class="form-control" name="invite[vegetarianMeals]">
                                    <% for(var i=0; i <= user.invites[0].guestsAllowed; i++){ %>
                                        <option><%= i %></option>
                                    <% } %>
                                  </select>
                                </div>
                                <div class="col-sm-offset-1 col-sm-10">
                                  <label for="nvite[guestNames]">Guest Names</label>
                                  <input type="text" class="form-control" id="guest-names" name="invite[guestNames]" placeholder="Guest Names (comma separated)"> 
                                </div>
                                <div class="col-sm-offset-1 col-sm-10">
                                    <button class="btn btn-block btn-lg btn-primary"> Submit RSVP </button>
                                </div>
                            </div>
                        </form>
                    </div>

                <div class="text-center col-md-12 col-lg-12"> 
                    <button type="button" id="rsvp-toggle" class="btn btn-lg btn-primary">RSVP NOW</button>
                </div>
            <% } else { %>
                <div class="text-center col-md-12"> 
                    <h2>RSVP Received</h2>
                </div>
            <% } %>
        <% } %>
        </div>
        <div class="col-md-1" id="push2"></div>
        <div class='row col-md-9 ' id='main-home'>
            <hr id='hide-me' class='schedule' >
            <hr id='hide-me'>
            <center>
                <h1>Wedding Weekend Schedule</h1>
                <br>
            </center>
            <div id="main-home-div" class="col-sm-12">
                <h3><strong>Saturday, October 1</strong></h3>
                <hr>
                <hr>
                <center>
                    <h3>Ceremony</h3>
                    <img src="/img/love.png"> 
                </center>
                <p><strong>Time:</strong> Please arrive at 5:00 pm, ceremony will start shortly after</p>
                <p><strong>Location:</strong> Stream Side Park - <a href="https://www.google.com/maps/place/37°50'41.5N+122°13'43.4W/@37.8448684,-122.2299612,17z/" target="_blank"> 6500 Broadway, Oakland, CA [map] </a> </p>
                <p><i>*see Venue Details below for parking, etc.</i></p>
                <p><strong>Attire:</strong> Cocktail</p>
                <p><strong>Please no phones or cameras during the ceremony! Be present with us.</strong></p>
                <hr>
                <hr>
                <center>                
                    <h3>Reception</h3>
                    <img src="/img/food-1.png">
                </center>
                <p><strong>Location:</strong> Temescal Beach House - 
                <a href="https://www.google.com/maps/place/Temescal+Beach+House/@37.8472848,-122.2323156,17z/data=!4m5!1m2!3m1!2sTemescal+Beach+House!3m1!1s0x0000000000000000:0xb1e0874be061c557" target="_blank"> 6500 Broadway, Oakland, CA [map]</a></p>

                <p> A little music, drinking, dancing, and dessert!
                <br>
                Feel free to take those cameras back out. #CoupleOfKahlers</p>
                <br>
                <hr>   
                <hr>
                <center>
                    <h3>Send Off</h3> 
                    <img src="/img/transport.png">
                </center>
                <p><strong>Time: </strong>9:30 pm </p>
                <p>Newlyweds exit Stage Right.</p>
                <br>
                <br>
                <hr> 
                <hr>
            </div>
            <div id="main-home-div" class="col-sm-12">
                <h3><strong>Sunday October 2</strong></h3>
                <hr>
                <hr>
                <center>
                    <h3>Goodbye Lunch</h3>
                    <img src="/img/weather.png">
                </center>
                <p><strong>Time:</strong> 11:00am - 3:00 pm</p>
                <p><strong>Location: </strong>Our House - <a href="https://www.google.com/maps/place/315+Park+View+Terrace,+Oakland,+CA+94610/@37.8109672,-122.2613967,17z/data=!3m1!4b1!4m2!3m1!1s0x808f874e0f04005d:0xe660afbccdd8624b" target="_blank"> 315 Park View Terrace, Oakland, CA [map] </a></p>
                <p><strong>Attire:</strong> Very Casual!</p>
                <p>Drop-in as you like. Lunch will be served at noon.</p>
                <br>
                <br>
                <br>
                <hr class='venue'>
                <hr>
            </div>
                <br>
                <center>
                    <h1>Venue Details</h1>
                </center>
            <div id="main-home-div" class="col-sm-12">
                <hr>
                <hr>
                <p><strong>Lake Temescal:</strong> Stream Side Park & Temescal Beach House</p>
                <p><strong><a href="https://www.google.com/maps/place/Temescal+Beach+House/@37.8472848,-122.2323156,17z/data=!4m5!1m2!3m1!2sTemescal+Beach+House!3m1!1s0x0000000000000000:0xb1e0874be061c557" target="_blank">6500 Broadway, Oakland, California</a></strong></p>
                <a href="https://www.google.com/maps/place/Temescal+Beach+House/@37.8472848,-122.2323156,17z/data=!4m5!1m2!3m1!2sTemescal+Beach+House!3m1!1s0x0000000000000000:0xb1e0874be061c557" target="_blank"><div id="map"></div></a>
                <hr>
                <hr>
            </div>
            <div id="main-home-div" class="col-sm-12">
                <center><h3>Parking</h3></center>
                <p>There is a designated lot for wedding guests only. <br>
                <br>
                It is adjacent to the Temescal Beach House and Stream Side Park is a short walk down a gravel path.<br>
                Continue past the main Temescal Lake parking lot, along Broadway.<br>
                There will be a sign and an usher at the parking lot entrance to guide you.</p>
                <hr>
                <hr>
            </div>
            <div id="main-home-div" class="col-sm-12">
                <center><h3>Quick Note on Attire</h3></center>
                <p>It's an outdoor venue with uneven ground. Please make sure your shoes can handle it!</p>
                <br>
                <p>The Bay Area can be nice one minute and chilly the next, even in the summer.<br> 
                Please bring a warm layer for when the sun goes down.</p>
                <hr>
                <hr class="gifts" >
            </div>
            <br>

            <center><h1>Gifts</h1></center>
            <div id="main-home-div" class="col-sm-12">
                <hr>
                <hr>
                <center>
                <h3>Registry</h3>
                <p>We are registered with the website <a href="https://www.blueprintregistry.com/registry/merrillkahler" target="_blank">Blueprint</a><br>
                <br>
                <strong><a href="https://www.blueprintregistry.com/registry/merrillkahler" target="_blank">Our Registry</a></strong>
                </p></center>
                <br>
                <br>
                <br>
                <hr class='us'>
                <hr>
            </div>
            <center><h1>Our Story</h1></center>
            <br>
            <div id="main-home-div" class="col-sm-12">
                <hr>
                <hr>
                <h3><center>How We Met</center></h3>
                <p>Bryan had been living in the San Francisco Bay Area ever since he began attending Cal, in 2003.<br>
                <br>
                Sarah moved to the Bay in 2008 for her first job after of college.<br>
                <br>
                As fate would have it, both Bryan and Sarah ended up working at the same civil engineering firm.<br>
                They met at their corporate softball game! (The one & only Sarah ever participated in.)<br>
                <br>
                After a few years of friendship, we began dating and the rest is history.</p>
                <br>
                <h3><center>These Days</center></h3>
                <p>After 4 years of dating, an East Bay move, a crazy cat, plenty of terrible jokes & some dramatic career changes, we got engaged on December 5, 2015!<br>
                <br>
                We live in Oakland near Lake Merritt. Looking forward to everyone experiencing some East Bay love.<br>
                <br>
                We are ready to head to Costa Rica on our honeymoon & finally learn to surf like true Californians!<br>
                <br></p>
                <br>
                <hr>
                <hr class='contact'>
            </div>
            <center><h1>Contact Info</h1></center>
            <br>
            <div id="main-home-div" class="col-sm-12">
                <hr>
                <hr>
                <h3><center>Got Questions?</center></h3>
                <p>On the day of the wedding, please call or text the following folks:
                <br>
                <b>TBD
                </p>
            </div>
        </div>
    </div>
</div>

<%include ../partials/footer %>
