<% include ../partials/header %>
    <div id="main" class="container">
        <div class="row col-sm-12" id="banner-home">
            <hr>
            <h1>Sarah + Bryan</h1>
            <p>October 1, 2016</p>
            <p>Oakland, California</p>
            <hr>
        </div>
        <div class='row' id="rsvp-div">
        <% if(user && user.invites.length > 0){ %>
            <% if(user.invites[0].attending == null){ %>
                    <div id='rsvp-form' class=" col-sm-12">
                        <center>
                            <h1><%=user.invites[0].title %></h1> 
                        </center>
                        <hr>
                        <form action="/invites/<%=user.invites[0]._id %>/?_method=PUT" class="form-horizontal" method='POST'>
                            <div class="form-group">
                                <div class="col-sm-offset-1 col-sm-10">
                                  <label for="invite[attending]">Attending ? </label><br>
                                  <select id="attending" class="form-control" name="invite[attending]">
                                      <option value="true">Yes</option>
                                      <option value="false">No</option>
                                  </select>
                                </div>
                                <div class="col-sm-offset-1 col-sm-10">
                                  <label for="invite[numberInAttendance]">Number of Guests Attending </label>
                                  <select class="form-control" name="invite[numberInAttendance]">
                                    <% for(var i=0; i <= user.invites[0].guestsAllowed; i++){ %>
                                        <option><%= i %></option>
                                    <% } %>
                                  </select>
                                </div>
                                <div class="col-sm-offset-1 col-sm-10">
                                  <label for="invite[vegetarianMeals]">Number of Vegetarian Meals </label>
                                  <select class="form-control" name="invite[vegetarianMeals]">
                                    <% for(var i=0; i <= user.invites[0].guestsAllowed; i++){ %>
                                        <option><%= i %></option>
                                    <% } %>
                                  </select>
                                </div>
                                <div class="col-sm-offset-1 col-sm-10">
                                  <label for="nvite[guestNames]">Guest Names</label>
                                  <input type="text" class="form-control" id="guest-names" name="invite[guestNames]" placeholder="Guest Names (comma separated)"> 
                                </div>
                                <div class="col-sm-offset-1 col-sm-10">
                                    <button class="btn btn-block btn-lg btn-primary"> Submit RSVP </button>
                                </div>
                            </div>
                        </form>
                    </div>

                <div class="text-center col-md-12 col-lg-12"> 
                    <button type="button" id="rsvp-toggle" class="btn btn-lg btn-primary">RSVP NOW</button>
                </div>
            <% } else { %>
                <div class="text-center col-md-12"> 
                    <h2>RSVP Received</h2>
                </div>
            <% } %>
        <% } %>
        </div>
        <div class='row' id='main-home'> 
            <center>
                <h1>Wedding Weekend Schedule</h1>
                <br>
            </center>
            <div id="main-home-div" class"col-sm-12">
                <h3><strong>Saturday, October 1</strong></h3>
                <h3>Ceremony</h3>
                <hr>
                <center><img src="/img/love.png"></center>
                <p><strong>Time:</strong> Please arrive at 5:00 pm, ceremony will start shortly after</p>
                <p><strong>Location:</strong> Stream Side Park - Oakland, CA</p>
                <p><strong>Attire:</strong> Cocktail</p>
                <h3>Reception</h3>
                <hr>             
                <p><strong>Location:</strong> Temescal Beach House - Oakland, CA</p>
                <center><img src="/img/food-1.png"></center>
                <p> A little music, dancing, and dessert!</p>
                <h3>Send Off</h3>
                <hr>                
                <center><img src="/img/transport.png"></center>
                <p><strong>Time: </strong>9:30 pm </p>
                <p>Newlyweds exit Stage Right.</p>
            </div>
            <div id="main-home-div" class"col-sm-12">
                <h3><strong>Sunday October 2</strong></h3>
                <h3>Goodbye Brunch</h3>
                <hr>                
                <center><img src="/img/weather.png"></center>
                <p><strong>Time:</strong> 10:30am - 1:30pm </p>
                <p><strong>Location: </strong>Oakland Hills House, insert address</p>
            </div>
            <div id="main-home-div" class"col-sm-12">
                <h3><strong>Temescal Beach House,</strong></h3>
                <h3><strong>Oakland California</strong></h3>
                <div id="map"></div>
            </div>
    
        </div>
    </div>
</div>

<%include ../partials/footer %>
